---
http_interactions:
- request:
    method: get
    uri: https://standards.calconnect.org/csd/cc-0707.rxl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - binary/octet-stream
      Last-Modified:
      - Tue, 23 Jun 2020 03:53:50 GMT
      Etag:
      - '"fde9b64f98fd2607d8c547508031cf7b"'
    body:
      encoding: UTF-8
      string: |-
        <bibdata type="standard">
        <title language="en" format="text/plain">CalConnect EDST (Extended Daylight Savings Time) Reflections and Recommendations</title>
        <docidentifier type="csd">CC/Adv 0707:2007</docidentifier>
        <docnumber>0707</docnumber>
        <date type="published">
        <on>2007-10-04</on>
        </date>
        <contributor>
        <role type="author"/>
        <organization>
        <name>CalConnect</name>
        </organization>
        </contributor>
        <contributor>
        <role type="publisher"/>
        <organization>
        <name>CalConnect</name>
        </organization>
        </contributor>
        <edition>1</edition>
        <version>
        <revision-date>2007-10-04T00:00:00Z</revision-date>
        </version>
        <language>en</language>
        <script>Latn</script>
        <status>
        <stage>published</stage>
        </status>
        <copyright>
        <from>2007</from>
        <owner>
        <organization>
        <name>CalConnect</name>
        </organization>
        </owner>
        </copyright>
        <ext>
        <doctype>advisory</doctype>
        <editorialgroup>
        <technical-committee>Ad Hoc DST</technical-committee>
        </editorialgroup>
        </ext>
        </bibdata>
  recorded_at: Thu, 23 Jun 2022 09:27:42 GMT
recorded_with: VCR 6.1.0
